<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Find Emp Page</title>
</head>
<body>
	<hr>
<h1><span th:text="${resp}"></span></h1>
</body>
<style>
	* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Poppins", sans-serif;
    }

    html,
    body {
      display:grid;
      height: 100%;
      width: 100%;
      place-items: center;
      background: linear-gradient(-135deg, #42275a, #734b6d);
    }

	h1{
		text-align: center;
		color: #fff;
		position: absolute;
	}
</style>
</html>